


<div class="loginBox signupBox">
<div class="loginHeader">
  <div class="logo">
    Odin Book
  </div>
  <div class="logoText">
    Odin Book helps you connect and share with the people in your life
  </div>
</div>

<div class="loginForm signupForm">
  <div class="loginBorder">
    <h1>Edit User</h1>
    <p>Make changes with Ease.</p>
    <p class="alert"><%= alert %></p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <% if current_user.provider.nil? %>
        <div class="loginFormField">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
        </div>

        <div class="loginFormField">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      <% end %>

    
      <div class="loginFormField">
        <%= f.label :dateOfBirth, "Date of birth" , class: "greySmallText"%><br />
        <%= f.date_field :dateOfBirth, autocomplete: "date", placeholder: "Date of birth" %>
      </div>
    
      <div class="signupFormField">
        <%= f.label :gender, class: "greySmallText" %><br />
        <div class="signUpRadio">
          <div class="signupRadioOption">
            <%= f.label :gender, "Male", :value => "Male"  %>
            <%= f.radio_button :gender, 'Male' %>
          </div>
          <div class="signupRadioOption">
            <%= f.label :gender, "Female", :value => "Female" %>
            <%= f.radio_button :gender, 'Female' %>
          </div>
          <div class="signupRadioOption">
            <%= f.label :gender, "Other", :value => "Other" %>
            <%= f.radio_button :gender, 'Other' %>
          </div>
        </div>
      </div>
      
      <div class="loginFormField">
        <%= f.label "Profile Picture" %>
        <%= f.file_field :avatar %>
      </div>


      <% if current_user.provider.nil? %>
        <div class="loginFormField">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      <% end %>
      

      <div class="signupActions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "loginEditAccountButton"%>
  <%= link_to "Back", :back %>
</div>
</div>

<footer>

</footer>
