<div class="friendslist">
    <h1>Friend requests</h1>
    <div class="friendContainer">    
        <% @friend_requests.each do |friend| %>
            <div class="friend">

            
                <%= link_to friend do%>
                    <div class="friendBox">
                        <div class="friendImg">
                        IMG
                        </div>
                        <div class="friendName">
                            <%=friend.name%>
                        </div>
                        <div class="friendSurname">
                            <%=friend.surname%>
                        </div>
                        
                    </div> 
                <% end %>
                <div class="friendResponse">
                    <div class="responseAccept">
                        <%= link_to "Accept", {controller: "friends", action: "accept_request", id: friend.id}, method: :post %>
                    </div>
                    <div class="responseReject">
                        <%= link_to "Decline", {controller: "friends", action: "reject_request", id: friend.id}, method: :post %>
                    </div>
                </div>
                
            </div>
        <% end %>
    </div>

    <h1>Friends</h1>
    <div class="friendContainer">    
        <% @friends.each do |friend| %>
            <%= link_to friend do%>
                <div class="friendBox friend">
                    <div class="friendImg">
                        IMG
                    </div>
                    <div class="friendName">
                            <%=friend.name%>
                    </div>
                    <div class="friendSurname">
                        <%=friend.surname%>
                    </div>
                </div> 
            <% end %>
        <% end %>
    </div>

    <h1> All users </h1>
    <div class="allUsers">
        <% @users.each do |user| %>
            <%= link_to user do%>
                <div class="userBox">
                    <%=user.name%>
                    <%=user.surname%>
                </div> 
            <% end %>
        <% end %>
    </div>
</div>