<div class="showUser">
    <div class="userDetails">
        <div class="userPfp">
        IMG
        </div>

        <div class="userName">
            <%= @user.name%>
            <%= @user.surname%>
        </div>

        <div class="userEdit">
        <% if @user.id==current_user.id %>
                <%= link_to "Edit Profile", edit_user_registration_path  %>
        <% end %>
        </div>
    </div>

    <div class="createPost">
        <% if @user.id==current_user.id %>
            <%= render 'posts/newPost', post: @post %>

        <% else %>
            <%= link_to "Send a friend request", {controller: "friends", action: "create_request", id: @user.id}, method: :post %>
        <% end %>
        <%#= render :partial => 'posts/newPost', post: @post %>
    </div>

    <div class="userFeed">
        <%= render 'posts/showPosts', posts: @posts %>
    </div>
</div>
