
<div class="loginBox">
  <div class="loginHeader">
    <div class="logo">
      <img class="fb_logo" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
    </div>
    <div class="logoText">
      Facebook helps you connect and share with the people in your life
    </div>
  </div>

  <div class="loginForm">
    <div class="loginBorder">
      <p class="alert"><%= alert %></p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="loginFormField">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
        </div>
        <div class="loginFormField">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div>
        <div class="loginActions">
          <%= f.submit "Log in" %>
        </div>

        <div class="loginForgot">
          TO-DO forgotten password mailer
        </div>
        
      <% end %>
    </div>
    <%= link_to "Create New Account", new_user_registration_path, class: "loginNewAccountButton" %>
  </div>
</div>

<footer>
TO-DO signup-login - link
</footer>



<%# render "devise/shared/links" %>
