<h2>Log in</h2>


<div class="loginbox">
  <div class="header">
    <div class="logo">
      facebook
    </div>
    <div class="logoText">
      Facebook helps you connect and share with the people in your life
    </div>
  </div>

  <div class="loginForm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="loginFormField">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="loginFormField">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>

      TO-DO forgotten password mailer
    <% end %>

    <%= link_to "Create New Account", new_user_registration_path, class: "loginNewAccountButton" %>
  </div>
</div>

<footer>

</footer>



<%# render "devise/shared/links" %>
