<h1>Create Post</h1>
<%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <%=form.text_field :body,placeholder: "What's on your mind"   %>
    
    <div class="newPostActions">
      <%= form.submit %>
    </div>
  <% end %>