

<% posts.each do |post| %>
    <div class="post" id=post_<%=post.id%>>
        <div class="postUserDetails">
            <div class="postUserPfpNameDate">
                <%= link_to(post.user) do %>
                    <div class="postUserPfp">
                        <% if post.user.avatar.attached? %>
                            <img src="<%=(url_for(post.user.avatar))%>">
                        <% else %>
                            <%= post.user.name.to_s[0].upcase %>
                            <%= post.user.surname.to_s[0].upcase %>
                        <% end %>
                    </div>
                <% end %>
                <div class="postUserNameDate">
                    <%= link_to(post.user) do %>
                        <div class="postUserName">
                            <%=post.user.name%>
                            <%=post.user.surname%>
                        </div>   
                    <% end %>
                    
                    <div class="postUserDate">
                        <% time=Time.parse(post.created_at.to_s) %>
                        <%= time.day%>
                        <%= Date::MONTHNAMES[time.month]%>
                        <% if Time.now.year> time.year %>
                            <%= time.year %>
                        <% end %>
                        <% if Time.now-time<86400 %>
                            <%= time.hour%>:
                            <%= time.min%>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="postUserDel">
                <% if post.user_id==current_user.id%>
                    <%= link_to({controller: "posts",action: "destroy", id: post.id}, {method: :delete} ) do %>
                        <img alt="Delete" class="delete-logo" src="<%= asset_path('delete.png') %>">
                    <% end %>
                <% end %>
            </div>
        </div>
        
        <div class="postContent">
            <%=post.body%>
        </div>
        <% if post.picture.attached? %>
            <div class="postContent">
                <img src="<%=(url_for(post.picture))%>">
            </div>                
        <% end %>
        
        <div class="postStats">
            <div class="postLike">
                <% if post.likes.ids.include?(current_user.id)%>
                    <%= link_to({controller: "posts", action: "like", id: post.id}, {method: :post} ) do %>
                        <img alt="Like" class="like-logo" src="<%= asset_path('thumb-up.png') %>">
                    <% end %>
                <% else %>
                    <%= link_to({controller: "posts", action: "like", id: post.id}, {method: :post} ) do %>
                        <img alt="Like" class="like-logo" src="<%= asset_path('thumb-up-outline.png') %>">
                    <% end %>
                <% end %>
            </div>
            <% if post.likes.count>0 %>
                <div class="postLikes">
                    <%= post.likes.count %>
                </div>
            <% end %>
        </div>
        <% if post.comments.any? %>
            Comments:
        <% end %>
        <% post.comments.each do |comment| %>
            <div class="postComment" id=comment_<%=comment.id%>>
                <%= link_to(comment.user) do %>
                    <div class="postCommentPfp">
                        <% if comment.user.avatar.attached? %>
                            <img src="<%=(url_for(comment.user.avatar))%>">
                        <% else %>
                            <%= comment.user.name.to_s[0].upcase %>
                            <%= comment.user.surname.to_s[0].upcase %>
                        <% end %>
                    </div>
                <% end %>
                <div class="postCommentContent">
                    <%= link_to(comment.user) do %>
                        <div class="postCommentOwner">
                            <%=comment.user.name%>
                            <%=comment.user.surname%>
                        </div>
                    <% end %>
                    <div class="postCommentBody">
                        <%= comment.body%>
                    </div>
                    <div class="postCommentControlls">
                        <% if comment.likes.ids.include?(current_user.id)%>
                            <%= link_to({controller: "comments", action: "like", id: comment.id}, {method: :post} ) do %>
                                <img alt="Like" class="like-logo" src="<%= asset_path('thumb-up.png') %>">
                            <% end %>
                        <% else %>
                            <%= link_to({controller: "comments", action: "like", id: comment.id}, {method: :post} ) do %>
                                <img alt="Like" class="like-logo" src="<%= asset_path('thumb-up-outline.png') %>">
                            <% end %>
                        <% end %>
                        <% if comment.likes.count>0 %>
                            <div class="commentLikes">
                                <%= comment.likes.count %>
                            </div>
                        <% end %>
                    </div>
                </div>
                
            </div>
            
        <% end %>
        
        <div class="postCommentAdd">
            <div class="postCommentAddPfp">
                <% if current_user.avatar.attached? %>
                    <img src="<%=(url_for(current_user.avatar))%>">
                <% else %>
                    <%= current_user.name.to_s[0].upcase %>
                    <%= current_user.surname.to_s[0].upcase %>
                <% end %>
            </div>
            
            <%= form_with model: [ post, post.comments.build ] do |form| %>
                <div class="postCommentAddBody">
                    <%= form.text_field :body, placeholder: "What do you think?"%>

                </div>
                <div class="postCommentSubmit">
                    <%= form.submit "Post"%>
                </div>
            <% end %>
        </div>
        
        
        
    </div>
<% end %>
